/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Axiforma, sans-serif;
}

header {
    background-color: #FFF2DB;
    color: #603F00;
    font-family: sans-serif;
    border-radius: 40px;
}
.nav-btn{
    border-radius: 40px;
}
.greeting{
    font-size: 50px;
}
.greeting-body{
    font-size: 20px;
}
.greeting-btn{
    border-radius: 40px;
    background-color: #925F01 !important;
}

.mission{
    background-color: #925F01;
    border-radius: 16px;
}

.vision{
    background-color: #2E1E00;
    border-radius: 16px;
}
.person{
    border-radius: 60px;
}
.card {
    border: none;
    background: none;
}

.card-title {
    font-size: 24px;
    color: #333333;
}

.card-text {
    font-size: 16px;
    color: #666680;
}
.value{
    width: 80px;
    height: 80px;
}
.faq1{
    border-radius: 20px;
}
.faq2{
    border: 1px #B0B0C04D solid;
    border-radius: 40px;
}
.left-arrow{
    width: 56px;
    height: 56px;
    padding: 15.56px;
    border-radius: 40px;
    background-color: #9a9aa0;
}
.right-arrow{
    width: 56px;
    height: 56px;
    padding: 15.56px;
    border-radius: 40px;
    background-color: #925F01;
}
.container {
    padding: 50px 0;
}
.load{
    background-color: #333333;
    border-radius: 25px;
}
.follow{
    background-color: #408BD1 !important;
    border-radius: 40px;
}
footer {
    background-color: #FFF2DB;
    color: #603F00;
    font-family: sans-serif;
    border-radius: 40px;
    margin: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer h5 {
    font-size: 18px;
    color: #603F00;
}

footer ul li {
    color: #837966;
    font-size: 14px;
}
.social{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px #E8E8F6 solid;
    padding: 5px 5px 5px 9px;
} */